/*standard css*/

* {
  font-family: Roboto, sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
}


/*main och header*/

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

header {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;
  background-color: #166fff;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0px -6px 20px 20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -6px 20px 20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -6px 20px 20px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}


/*text fixande (och bild)*/

h1, p, h2 {
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
}

h2 {
  margin-left: 0px;
  font-size: 15px;
}

p {
  margin-right: 20px;
  margin-top: 10px;
}

img {
  height: 50px;
}

i {
  margin-left: 10px;
}

.iconsFix {
  font-size: 48px !important;
}


/*Naven*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.shadow {
  -webkit-box-shadow: 51px 0px 131px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 51px 0px 131px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 51px 0px 131px 8px rgba(0, 0, 0, 0.75);
}


/*searchbar*/

#wrap {
  display: inline-block;
  position: relative;
  height: 30px;
  float: right;
  padding: 0;
  position: relative;
  color: white;
}

input[type="text"] {
  height: 30px;
  font-size: 25px;
  display: inline-block;
  font-family: Roboto;
  color: white;
  font-weight: 100;
  border: none;
  outline: none;
  color: white;
  padding: 3px;
  padding-right: 30px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid white;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
  opacity: 0.5;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 0.5;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  opacity: 0.5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  opacity: 0.5;
}

input[type="text"]:focus {
  width: 400px;
  z-index: 1;
  border-bottom: 1px solid white;
  cursor: text;
}

input[type="submit"] {
  display: inline-block;
  color: white;
  float: right;
  text-indent: -20000px;
  border: none;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity .4s ease;
}


/*Självaste innehållet*/


/*mer för mobil css*/

.steps {
  margin-top: 85px;
}

.instructions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

article {
  width: 210px;
  border-radius: 2px;
  height: 130px;
}

.centerfix {
  display: flex;
  justify-content: center;
  align-items: center;
}

#step3 {
  width: auto;
}

.step3 {
  display: none;
}

.backBTNstep3 {
  display: none;
}

.dropbtn {
  background-color: #166fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #1058cc;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin-top: -10px;
  margin-left: 20px;
  border-radius: 2px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content h2 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content h2:hover {
  background-color: #f1f1f1
}

.hide {
  display: none;
}

.show {
  display: block;
}

.nextback {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: flex;
}

#indexNB {
  justify-content: flex-end;
}

#step2and3NB {
  justify-content: flex-start;
}

.nextbtn {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.bigbtn {
  font-size: 30px;
}


/*mer för ipad css*/

.row {
  display: flex;
  margin-top: 150px;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}

.wraper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  margin-top: 20px;
  background-color: #166fff;
  color: white;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
}

.noMarginTop, #bottomRow {
  margin-top: 0;
}

.marginLeft {
  margin-left: 20px;
}

.noMarginLeft {
  margin-left: 0px;
}


/*mer för desktop css*/

.buffer {
  display: flex;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-grow: 1;
  margin-top: 150px;
  flex-direction: column;
}

.selector {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  margin-bottom: 20px;
}

.subject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 200px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16.5px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 16.5px;
}

.slider.round:before {
  border-radius: 50%;
}


/*footer*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #166fff;
  color: white;
  text-align: center;
  font-size: 24px;
}


/*error sidan*/

#errorBody {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 50px;
}


/*desktop*/

@media all and (min-device-width:769px) {
  .steps {
    display: none;
  }
  .instructions {
    display: none;
  }
  .nextback {
    display: none;
  }
  .row {
    display: none;
  }
  main {
    flex-direction: row;
  }
  footer {
    font-size: 12px;
    padding: 0.5rem;
  }
  header {
    -webkit-box-shadow: 0px 5px 26px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 26px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 26px 0px rgba(0, 0, 0, 0.5);
  }
  .dropbtn {
    margin-bottom: 100px;
    border-radius: 50px;
  }
  a {
    margin: auto;
  }
}


/*ipad*/

@media all and (max-device-width:769px) {
  .steps {
    display: none;
  }
  img {
    height: 75px;
  }
  .instructions {
    display: none;
  }
  .nextback {
    display: none;
  }
  .material-icons {
    font-size: 48px !important;
  }
  .buffer {
    display: none;
  }
  .content {
    display: none;
  }
  .sidenav a {
    font-size: 48px;
    margin-top: 20px;
  }
  input[type="text"] {
    height: 40px;
  }
}


/*mobil*/

@media all and (max-device-width:415px) {
  footer {
    display: none;
  }
  .steps {
    display: block;
  }
  .header_right {
    display: none;
  }
  img {
    height: 50px;
  }
  .row {
    display: none;
  }
  .instructions {
    display: flex;
  }
  .nextback {
    display: flex;
  }
  .material-icons {
    font-size: 24px !important;
  }
  .sidenav a {
    font-size: 25px;
    margin-top: 20px;
  }
}
